# Aujourd'hui on roule sur les mecs de l'ENS


https://challengedata.ens.fr/en/challenge/39/prediction_of_transaction_claims_status.html

# Imports des librairies de bases

On ajoutera celles qui manquent au fur et à mesure de nos besoins

In [1]:
# To support both python 2 and python 3
from __future__ import division, print_function, unicode_literals

# Common imports
import numpy as np
import pandas as pd
import os, gc

# Définition de la seed pour le random

Très important pour qu'on voit les mêmes choses entre nos deux ordis

In [2]:
RANDOM_SEED = 42;
np.random.seed(RANDOM_SEED)

# Définition des paramètres pour Matplot

Rien de bien intéréssant

In [3]:
# To plot pretty figures
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
plt.rcParams['axes.labelsize'] = 14
plt.rcParams['xtick.labelsize'] = 12
plt.rcParams['ytick.labelsize'] = 12

# Set des variables globales

Attention, je n'utilise les variables globales pour la gestion des fichiers. Sinon, c'est mort

In [4]:
# Where to save the figures
PROJECT_ROOT_DIR = "."
DATA_PATH = os.path.join(PROJECT_ROOT_DIR, "data")
DATA_PROCESSED = os.path.join(PROJECT_ROOT_DIR, "data_processed")

# Fonction pour load les libraires

En vrai, on a juste besoin de pd.read_csv, mais c'était pour faire joli

In [5]:
def load_data(file,data_path=DATA_PATH, sep=','):
    csv_path = os.path.join(data_path, file)
    return pd.read_csv(csv_path, sep)

# On load les jeux de données

Seulement le train (input_train) pour le moment. Et le "Y" des lignes dans le fichier avec le long nom.
Je ne sais pas pourquoi ils ont tout divisé, mais peût être pour filter les mecs qui ne savent pas fire des jointures.

In [6]:
TX_data = load_data(file = "input_train.csv");
STA_data = load_data(file = "challenge_output_data_training_file_prediction_of_transaction_claims_status.csv", sep=';');

# Jointure entre les X et Y

In [7]:
TX_data = pd.merge(TX_data, STA_data, left_index=True, right_index=True)
TX_data.drop(["ID_y","ID_x"],inplace=True,axis=1)
TX_data=TX_data.apply(pd.to_numeric, errors='ignore')

del STA_data #Je supprime toujours les variables inutiles pour liberer ma RAM (qui est très faible)

### Je laisse ne commentaire les fonctions qui m'ont été utiles pour analyser la BDD

In [8]:
#TX_data.head()

In [9]:
#TX_data["CLAIM_TYPE"].value_counts().head(10).plot.bar()

In [10]:
#TX_data.info()

# Fonction de mise en forme (attention, sportive)

Dans la BDD, j'ai vu pas mal de truc du genre "20<50", inutilisables. Donc, j'ai voulu splité pour faire une colonne avec le "20" (MIN), et une autre avec le "50" (MAX).
Donc j'ai fait cette fonction qui prend en entrée la BDD, une liste de noms de colones à traiter, et modifie la base de donnée directement.

In [11]:
def splitter(data, list_col):
    for colname in list_col:# Pour chaque nom de colonne spécifié
        toto= data[colname].str.split('<', 1, expand=True)# Split sur le char "<" de la colonne. Cette fonction crée 2 colonnes : Une avec ce qu'il y a a gauche du split, une autre à droite
        data[colname+"_MIN"] = toto[0]# On prend la partie gauche pour faire le MIN
        data[colname+"_MAX"] = toto[1]# La droite pour le MAX
        data[colname+"_MIN"]=data[colname+"_MIN"].str.replace('>',"")# Parfois il y a le signe ">", donc je le vire simplement
        data[colname+"_MIN"].replace("",0,inplace=True)
        data[colname+"_MIN"].fillna(value=0, inplace=True) 
        data.drop(colname, axis=1, inplace=True)        # Et je drop la colonne inutile maintenant. (Inplace = True veut dire modification de la BDD originale)

In [12]:
list_col_split=["WARRANTIES_PRICE",'SELLER_SCORE_COUNT','ITEM_PRICE','PURCHASE_COUNT','SHIPPING_PRICE']

In [13]:
splitter(TX_data,list_col_split)
del list_col_split

In [14]:
TX_data.head()

,SHIPPING_MODE,WARRANTIES_FLG,CARD_PAYMENT,COUPON_PAYMENT,RSP_PAYMENT,WALLET_PAYMENT,PRICECLUB_STATUS,REGISTRATION_DATE,BUYER_BIRTHDAY_DATE,BUYER_DEPARTMENT,...,WARRANTIES_PRICE_MIN,WARRANTIES_PRICE_MAX,SELLER_SCORE_COUNT_MIN,SELLER_SCORE_COUNT_MAX,ITEM_PRICE_MIN,ITEM_PRICE_MAX,PURCHASE_COUNT_MIN,PURCHASE_COUNT_MAX,SHIPPING_PRICE_MIN,SHIPPING_PRICE_MAX
0,NORMAL,False,1,0,1,0,UNSUBSCRIBED,2015,1992.0,34,...,0,NaN,10000,100000,0,10,0,5,0,NaN
1,NORMAL,False,1,0,0,0,UNSUBSCRIBED,2013,1952.0,77,...,0,NaN,10000,100000,0,10,0,5,0,NaN
2,NORMAL,False,0,0,0,1,PLATINUM,2013,1991.0,58,...,0,NaN,10000,100000,0,10,50,100,0,NaN
3,RECOMMANDE,True,1,0,0,0,UNSUBSCRIBED,2007,1955.0,31,...,5,20,10000,100000,50,100,500,None,0,NaN
4,RECOMMANDE,False,1,0,1,0,PLATINUM,2010,1984.0,93,...,0,NaN,1000,10000,1000,5000,5,20,0,NaN

#### Petit problème : quelques trucs en MAX sont à "none", à corriger

In [15]:
def mulItem(row):
        return int(row['ITEM_PRICE_MIN'])*2 if row['ITEM_PRICE_MAX'] == None else row['ITEM_PRICE_MAX']

TX_data['ITEM_PRICE_MAX'] = TX_data.apply(mulItem, axis=1)

In [16]:
def mulPurs(row):
        return int(row['PURCHASE_COUNT_MIN'])*2 if row['PURCHASE_COUNT_MAX'] == None else row['PURCHASE_COUNT_MAX']
 
TX_data['PURCHASE_COUNT_MAX'] = TX_data.apply(mulPurs, axis=1)

In [17]:
def mulShip(row):
        return int(row['SHIPPING_PRICE_MIN'])*2 if row['SHIPPING_PRICE_MAX'] == None else row['SHIPPING_PRICE_MAX']
 
TX_data['SHIPPING_PRICE_MAX'] = TX_data.apply(mulShip, axis=1)
TX_data.SHIPPING_PRICE_MAX.fillna(0, inplace=True)

In [18]:
# Véification
TX_data.head()

,SHIPPING_MODE,WARRANTIES_FLG,CARD_PAYMENT,COUPON_PAYMENT,RSP_PAYMENT,WALLET_PAYMENT,PRICECLUB_STATUS,REGISTRATION_DATE,BUYER_BIRTHDAY_DATE,BUYER_DEPARTMENT,...,WARRANTIES_PRICE_MIN,WARRANTIES_PRICE_MAX,SELLER_SCORE_COUNT_MIN,SELLER_SCORE_COUNT_MAX,ITEM_PRICE_MIN,ITEM_PRICE_MAX,PURCHASE_COUNT_MIN,PURCHASE_COUNT_MAX,SHIPPING_PRICE_MIN,SHIPPING_PRICE_MAX
0,NORMAL,False,1,0,1,0,UNSUBSCRIBED,2015,1992.0,34,...,0,NaN,10000,100000,0,10,0,5,0,0
1,NORMAL,False,1,0,0,0,UNSUBSCRIBED,2013,1952.0,77,...,0,NaN,10000,100000,0,10,0,5,0,0
2,NORMAL,False,0,0,0,1,PLATINUM,2013,1991.0,58,...,0,NaN,10000,100000,0,10,50,100,0,0
3,RECOMMANDE,True,1,0,0,0,UNSUBSCRIBED,2007,1955.0,31,...,5,20,10000,100000,50,100,500,1000,0,0
4,RECOMMANDE,False,1,0,1,0,PLATINUM,2010,1984.0,93,...,0,NaN,1000,10000,1000,5000,5,20,0,0

In [19]:
# Comme dans la fonction Splitter (c'est pareil, mais sans la boucle for)
# On coupe la date  sur le char "/", et on prend gauche et droite

toto= TX_data['BUYING_DATE'].str.split('/', 1, expand=True)
TX_data['BUYING_DATE_Month'] = toto[0]
TX_data['BUYING_DATE_Year'] = toto[1]
TX_data.drop('BUYING_DATE', axis=1, inplace=True)

In [20]:
del toto; # On libère la RAM

In [21]:
# Là, je demande à Pandas de transformer en numérique tout ce qu'il peut l'être dans la BDD. 
# Comme ça la commande "TX_data.info()" me montrera toutes les variables encore catégorielles

TX_data=TX_data.apply(pd.to_numeric, errors='ignore')

In [22]:
#TX_data.info()

# Feature Engineering

Là, faut être créatif, et aider l'algorithme à voir des choses, et se focaliser sur d'autres.

Je vais rarement drop des colonnes, car à ce moment là, je ne sais pas ce qui est utile ou pas

## A une garantie

In [23]:
mapper= {True : 1, False : 0 } # juste un dico pour dire True = 1, False = 0

In [24]:
# Je demande à Pandas de transformer les True et Falses en 1 et 0
TX_data["WARRANTIES_FLG"] = TX_data["WARRANTIES_FLG"].map(mapper)
del mapper;

## Taux de couverture de la garantie

In [25]:
# Beaucoup de valeurs en NaN car cela correspond à "pas de garantie". 
# Donc je dis que si il n'y a pas de garantie, elle est à zéro

TX_data.WARRANTIES_PRICE_MAX.fillna(value=0, inplace=True)
TX_data.WARRANTIES_PRICE_MIN.fillna(value=0, inplace=True)

In [26]:
# Là, je fais le pourcentage de couverture de la garantie.
# le "+0.1" sert à se protéger des divisions par zéros

TX_data["WARRANTIES_COVERAGE_MIN"]=TX_data["WARRANTIES_PRICE_MIN"]/(TX_data["ITEM_PRICE_MIN"]+0.1)
TX_data["WARRANTIES_COVERAGE_MAX"]=TX_data["WARRANTIES_PRICE_MAX"]/(TX_data["ITEM_PRICE_MAX"]+0.1)

## Is Claim

Attention, c'est un peu dangereux d'utiliser la target variable pour faire du feature engineering.

Mais ici, je veux créer des "cartes d'identité" par vendeur et acheteur, pour reperer les bad guys. Donc je dois connaitre le taux de rejet de chacun. Ce que je vais faire plus tard.

In [27]:
# Fonction qui prend une ligne de la BDD en entrée, et dit "Si c'est - alors on renvoit 0, sinon 1
def b(row):
        return 0 if row['CLAIM_TYPE'] == '-' else 1;

In [28]:
# Je l'applique à la base de données
TX_data['IS_CLAIM'] = TX_data.apply(b, axis=1)

## Shipping Method

Regroupement des méthodes de shipping rares sous la même catégorie.

Objectif = Diminuer la complexité de la variable

In [29]:
#TX_data["SHIPPING_MODE"].value_counts().head(10).plot.bar()

In [30]:
list_rare_delivery_type = ['EXPRESS_DELIVERY',
                          'SO_RECOMMANDE',
                          'MONDIAL_RELAY',
                          'MONDIAL_RELAY_PREPAYE',
                          'SO_POINT_RELAIS',
                          'CHRONOPOST',
                          'PICKUP',
                          'Kiala']
TX_data["SHIPPING_MODE"].replace(to_replace=list_rare_delivery_type,
                                 value="RARE_TYPE",
                                 inplace=True)
del list_rare_delivery_type;

In [31]:
TX_data = pd.merge(TX_data, 
                   pd.get_dummies(TX_data["SHIPPING_MODE"]), 
                   left_index=True, 
                   right_index=True)

In [32]:
TX_data.drop("SHIPPING_MODE",
             axis=1,
             inplace=True)

## Customer Premium

Regroupement des types de comptes payant sous la même catégorie.

Objectif = Diminuer la complexité de la variable

In [33]:
#TX_data["PRICECLUB_STATUS"].value_counts().head(10).plot.bar()

In [34]:
list_rare_delivery_type= ['PLATINUM', 
                          'SILVER', 
                          'GOLD']
TX_data["PRICECLUB_STATUS"].replace(to_replace=list_rare_delivery_type, 
                                 value="PREMIUM", 
                                 inplace=True)
del list_rare_delivery_type

In [35]:
TX_data = pd.merge(TX_data, pd.get_dummies(TX_data["PRICECLUB_STATUS"]), left_index=True, right_index=True)
TX_data.drop("PRICECLUB_STATUS", axis=1, inplace=True)

## Trajets longs

Flag pour signaler un envoi international

Objectif = souligner les courts trajets

In [36]:
#TX_data["SELLER_COUNTRY"].value_counts().head(10).plot.bar()

In [37]:
def f(row):
    long_haul_list=["CHINA","HONG KONG", "UNITED STATES"]
    return 1 if row['SELLER_COUNTRY'] in long_haul_list else 0;

In [38]:
TX_data['LONG_HAUL'] = TX_data.apply(f, axis=1)

## Stats par Pays

To do : Détecter les pays à problèmes

In [39]:
description_product_country = TX_data['IS_CLAIM'].groupby(TX_data['SELLER_COUNTRY']).describe().reset_index()

In [40]:
colnames_country=["SELLER_COUNTRY","Count_country","Mean_Claims_country","STD_Claims_country","t_1","t_2","t_3","t_4","t_5"]

description_product_country.columns = colnames_country
description_product_country.drop(["t_1","t_2","t_3","t_4","t_5"], axis=1, inplace=True)
description_product_country["Count_Claims_country"] = description_product_country["Mean_Claims_country"] * description_product_country["Count_country"]

In [41]:
TX_data=pd.merge(TX_data, description_product_country, on='SELLER_COUNTRY', how='outer')

del description_product_country, colnames_country

## Type de produit

To do : Détecter les produits fragiles

Objectif = souligner cet effet

In [42]:
#TX_data["PRODUCT_TYPE"].value_counts().head(10).plot.bar()

In [43]:
description_product_type=TX_data['IS_CLAIM'].groupby(TX_data['PRODUCT_TYPE']).describe().reset_index()

In [44]:
colnames_product_type=["PRODUCT_TYPE","Count_product_type","Mean_Claims_product_type","STD_Claims_product_type","t_1","t_2","t_3","t_4","t_5"]

description_product_type.columns=colnames_product_type
description_product_type.drop(["t_1","t_2","t_3","t_4","t_5"],axis=1,inplace=True)
description_product_type["Count_Claims_product_type"]=description_product_type["Mean_Claims_product_type"]*description_product_type["Count_product_type"]

In [45]:
TX_data=pd.merge(TX_data, description_product_type, on='PRODUCT_TYPE', how='outer')
del description_product_type, colnames_product_type

In [46]:
TX_data.drop(columns="PRODUCT_TYPE" ,axis=1,inplace=True)

## Création d'un ID par client 

Objectif = créer une base de données client

In [47]:
import hashlib

In [48]:
def idBuyerCreator(row):
        return hashlib.md5(
            (str(row['REGISTRATION_DATE'])+
             str(row["BUYER_DEPARTMENT"])+
             str(row["BUYER_BIRTHDAY_DATE"])
            ).encode()
        ).hexdigest()

In [49]:
TX_data['BUYER_ID'] = TX_data.apply(idBuyerCreator, axis=1)

## Calcul du taux de claims par client

Objectif = Créer de nouvelles features

In [50]:
description_buyer=TX_data['IS_CLAIM'].groupby(TX_data['BUYER_ID']).describe().reset_index()

In [51]:
colnames_buyer=["BUYER_ID","Count_Buys","Mean_Claims_Buys","STD_Claims_Buys","t_1","t_2","t_3","t_4","t_5"]

description_buyer.columns=colnames_buyer
description_buyer.drop(["t_1","t_2","t_3","t_4","t_5"],axis=1,inplace=True)
description_buyer["Count_Claims_Buy"]=description_buyer["Mean_Claims_Buys"]*description_buyer["Count_Buys"]

In [52]:
TX_data=pd.merge(TX_data, description_buyer, on='BUYER_ID', how='outer')
del description_buyer, colnames_buyer

## Création d'un ID par vendeur

Objectif = créer une base de données vendeur

In [53]:
def idSellCreator(row):
        return hashlib.md5(
            (str(row["SELLER_COUNTRY"])+
             str(row["SELLER_DEPARTMENT"])+
             str(row["SELLER_SCORE_AVERAGE"])
            ).encode()
        ).hexdigest()

In [54]:
TX_data['SELLER_ID'] = TX_data.apply(idSellCreator, axis=1)

## Calcul du taux de claims par vendeur

Objectif = Créer de nouvelles features

In [55]:
description_sellers=TX_data['IS_CLAIM'].groupby(TX_data['SELLER_ID']).describe().reset_index()

In [56]:
colnames_sell=["SELLER_ID","Count_Sells","Mean_Claims_Sells","STD_Claims_Sells","t_1","t_2","t_3","t_4","t_5"]

description_sellers.columns=colnames_sell
description_sellers.drop(["t_1","t_2","t_3","t_4","t_5"],axis=1,inplace=True)
description_sellers["Count_Claims_Sells"]=description_sellers["Mean_Claims_Sells"]*description_sellers["Count_Sells"]

In [57]:
TX_data=pd.merge(TX_data, description_sellers, on='SELLER_ID', how='outer')
del description_sellers, colnames_sell

## Fusion des bases de données

Objectif = Yolo

In [58]:
list_to_drop=["IS_CLAIM","BUYER_ID","SELLER_ID"]

In [59]:
TX_data.drop(list_to_drop,inplace=True,axis=1)
del list_to_drop

# On essaie d'ajouter des composantes de Neighbors, PCA, LDA, etc..

In [60]:
from sklearn.neighbors import KNeighborsClassifier
clf_KNeighborsClassifier = KNeighborsClassifier(n_neighbors=3)

In [73]:
def datapreprocess_LDA(data):
    data=data.apply(pd.to_numeric, errors='ignore')
    
    # Y and X
    Y=data["CLAIM_TYPE"]
    X=data.drop("CLAIM_TYPE", axis=1,inplace=False)
    # Exclude Objets
    X=X.select_dtypes(exclude=['object'])
    
    # Work on fare
    from sklearn.preprocessing import Imputer
    imp = Imputer(missing_values='NaN',strategy='median', axis=1)
    X=pd.DataFrame(imp.fit_transform(X),columns=X.columns.values)
 
    return X, Y

In [74]:
X,Y=datapreprocess_LDA(TX_data)

In [75]:
from sklearn.decomposition import PCA
pca = PCA(n_components=2)
X_r = pd.DataFrame(pca.fit(X).transform(X), columns=['PCA_1', 'PCA_2'])
TX_data['PCA_1']=X_r['PCA_1']
TX_data['PCA_2']=X_r['PCA_2']

In [76]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
lda = LinearDiscriminantAnalysis(n_components=2)
X_r2 = pd.DataFrame(lda.fit(X, Y).transform(X), columns=['LDA_1', 'LDA_2'])
TX_data['LDA_1']=X_r2['LDA_1']
TX_data['LDA_2']=X_r2['LDA_2']

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")

In [ ]:
del datapreprocess_LDA, pca, X_r, lda, X_r2
gc.collect()

356

In [ ]:
from sklearn.preprocessing import PolynomialFeatures
poly = PolynomialFeatures(degree=3, include_bias=False)
X2 = pd.DataFrame(poly.fit_transform(X))

In [ ]:
X2.head()

In [ ]:
TX_data['Poly_1']=X2['Poly_1']
TX_data['Poly_2']=X2['Poly_2']
TX_data['Poly_3']=X2['Poly_3']

In [70]:
del X,Y, poly, X2
gc.collect()

NameError: name 'X2' is not defined

In [71]:
gc.collect()

127

In [ ]:
Sortie en erreur les copines!

# Et on écrit la BDD sur un joli CSV

In [ ]:
filename = DATA_PROCESSED+"/working_data.csv"

In [ ]:
os.remove(filename)

In [ ]:
TX_data.to_csv(path_or_buf=filename, index=False)

# A partir de là, je fais juste un test bidon pour voir si les features apportent quelque chose

## Les vrais modèles sont dans le notebook "Models"

## On coupe

Objectif = Créer un jeu de données train et test

In [ ]:
from sklearn.model_selection import train_test_split
train_set, test_set = train_test_split(TX_data, 
                                       test_size=0.3, 
                                       random_state=RANDOM_SEED, 
                                       stratify=TX_data["CLAIM_TYPE"]
                                      )
del TX_data;

## Preprocess

Objectif = Rendre joli tout ça

In [ ]:
def datapreprocess(data):
    data=data.apply(pd.to_numeric, errors='ignore')
    
    # Y and X
    Y=data["CLAIM_TYPE"]
    X=data.drop("CLAIM_TYPE", axis=1,inplace=False)
    # Exclude Objets
    X=X.select_dtypes(exclude=['object'])
    
    # Work on fare
    from sklearn.preprocessing import Imputer
    imp = Imputer(missing_values='NaN',strategy='median', axis=1)
    X=pd.DataFrame(imp.fit_transform(X),columns=X.columns.values)
 
    return X, Y

In [ ]:
X_train,Y_train=datapreprocess(train_set)
X_test, Y_test=datapreprocess(test_set)

del train_set, test_set;
gc.collect()

# MODEL!

## Metriques

D'abord, notre métrique à nous

In [ ]:
from sklearn.metrics import roc_auc_score
from sklearn.preprocessing import LabelBinarizer

In [ ]:
def multiclass_roc_auc_score(truth, pred):
    lb = LabelBinarizer()
    lb.fit(truth)
    return roc_auc_score(lb.transform(truth), lb.transform(pred), average="weighted")

#### Notre Random Forest tout simple

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
rnd_clf = RandomForestClassifier(n_jobs=-1, 
                                 random_state=RANDOM_SEED)

In [ ]:
rnd_clf.fit(X_train, Y_train);
y_pred_rf = rnd_clf.predict(X_test)
multiclass_roc_auc_score(Y_test, y_pred_rf)

In [ ]:
from sklearn.metrics import confusion_matrix

In [ ]:
def plot_confusion_matrix(matrix):
    """If you prefer color and a colorbar"""
    fig = plt.figure(figsize=(8,8))
    ax = fig.add_subplot(111)
    cax = ax.matshow(matrix)
    fig.colorbar(cax)
    
conf_mx = confusion_matrix(Y_test, y_pred_rf)
plot_confusion_matrix(conf_mx)

In [ ]:
from sklearn.feature_selection import SelectFromModel
from sklearn.ensemble import RandomForestClassifier

In [ ]:
clf = RandomForestClassifier(n_jobs=-1, 
                             random_state=RANDOM_SEED)

In [ ]:
sfm_clf = SelectFromModel(clf)
del clf

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier

In [ ]:
gb_clf=GradientBoostingClassifier(random_state=RANDOM_SEED)

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import Normalizer

In [ ]:
clf = Pipeline([
    #('scaler', StandardScaler()), 
    #('norm', Normalizer()), 
    #('threshold', sel_vt), 
    #('SelectKBest', Chi_select), 
    #('reduce_dim', PCA()),
    #('feature_union', combined),
    #('feature_selection', sfm_clf),
    ('classification', gb_clf)
])


clf.fit(X_train, Y_train);
y_pred_rf = clf.predict(X_test)
multiclass_roc_auc_score(Y_test, y_pred_rf)